@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

@font-face {
    font-family: 'FonteLogo';
    src: url(../_fonts/bubblegum-sans-regular.otf);
}

body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
}

div#interface {
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;

}

p {
    text-align: justify;
    text-indent: 20px;
}

/*links*/

a {
    color: #606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*cabecalho do site*/

.contain-images {
    width: 100%;
    display: flex;
    margin-top: -20px;
    position: relative;
}

.image {
    width: 50%;
    height: 100%;
}

.image-logo {
    height: 50px;
    background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px;
    background-size: 180px;
}

.image-icon {
    position: absolute;
    bottom: -56px;
    right: -35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0;
    min-height: 150px;
    min-width: 200px;
    z-index: 2;
}

.image-icon.glass {
    background-image: url(../_imagens/glass-oculos-preto-peq.png);
}

.image-icon.home {
    background-image: url(../_imagens/home.png);
}

.image-icon.especificacoes {
    background-image: url(../_imagens/especificacoes.png);
    bottom: -60px;
}

.image-icon.fotos {
    background-image: url(../_imagens/fotos.png);
    bottom: -62px;
    right: -15px;
}

.image-icon.multimidia {
    background-image: url(../_imagens/multimidia.png);
    bottom: -68px;
}

.image-icon.contato {
    background-image: url(../_imagens/contato.png);
    bottom: -60px;
    right: -8px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    padding-bottom: 15px;
}

header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    margin-bottom: 0px;

}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    margin-top: 0px;

}

/*  Formatação de imagens com legendas  */

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 6px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10%;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}

/* formatacao do menu */

nav#menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: 20px;
}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: rgba(0, 0, 0, .6);
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: #000;
    text-decoration: none;
}

nav#menu a:hover {
    color: #fff
}

section#corpo {
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;

}

/*artigo cabeçalho*/

article#noticia-principal h2 {
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

header#artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #fff;
    margin: 0px;
    text-indent: -9px;
}

header#artigo h3 {
    font-size: 12px;
    color: #606060;
}

.right {
    text-align: right;
}

/*tabela*/

table#tabelaaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaaspec td {
    border: 1px solid #606060;
    padding: 10px;
}

table#tabelaaspec td.text-align-right {
    color: white;
    background-color: #606060;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
}

table#tabelaaspec td.text-align-left {
    background-color: #dddddd;
    text-align: left;
}

table#tabelaaspec caption {
    color: #888;
    font-size: 13pt;
    font-weight: bolder;
}

table#tabelaaspec caption span {
    display: block;
    float: right;
    color: #888;
    font-size: 8pt;
    margin-top: 15px;

}

/*lateral*/

aside#lateral {
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#lateral h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: white;
    padding: 5px;
}

/*rodape*/

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}